@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: Poppins;

    --medium: 3vw;
    --small: 1.5vw;
    --middle: 2vw;

    --bg-odd: #47321a;
    --bg-even: #37230a;
    --add: #c8914b;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scroll-padding-top: 4vw;
}

/* Navigation Bar */
.navbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-content {
    background: var(--bg-odd);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    color: white;
    height: 8vh;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-img {
    width: 2.5vw;
    margin: 0 0.5vw;
}

.nav-heading {
    font-size: var(--middle);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;


    height: 5vh;

}
li {
    height: 100%;
}

.nav-link{
    display: flex;
    text-decoration: none;
    color: white;
    padding:0 2vw;
    margin: 0 0.5vw;
    align-items: center;
    border-radius: 3vh;
    height: 100%;
    transition: 0.6s;
}

.nav-link:hover {
    background: var(--add);
    border: none;
    color: black;
    transform: scale(1.2);
}

/* Hero Section */
.hero {
    background: #37230a;

    display: flex;
    padding: 1vh 1vw;
    justify-content: space-around;
    align-items: center;
}

.right-section {
    padding: 3vh 3vw;
}
.hero-img {
    height: 40vw;
    transition: 0.6s;
}

.hero-img:hover {
    transform: scale(1.2);
}

.left-section {
    padding: 3vh 3vw;
}

.hero-heading {
    color: var(--add);
    font-size: var(--medium);
}

.note {
    color: white;
    font-size: var(--medium);
}

.hero-discription {
    color: white;
    font-size: var(--small);
    margin-top: 1vw;
    line-height: 2vw;
}

.hero-btn {
    height: 5vw;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 0 3vw;
    border-radius: 3vw;
    font-size: var(--small);
    font-weight: 700;
    margin-right: 2vw;
    margin-top: 2vw;
    transition: 0.6s;
}

.hero-btn:hover {
    background-color: var(--add);
    border:2px solid var(--add);
    color: black;
    transform: scale(1.2);
}

/* About Us section */
.about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 1vw;
    background: var(--bg-odd);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5vw;
}

.about-img {
    padding: 0 5vw;
    width: 30vw;
    transition: 0.6s;
}

.about-img:hover {
    transform: scale(1.2);
}

.about-heading {
    color: white;
    font-size: var(--medium);
}

.about-discription {
    color: white;
    font-size: var(--small);
    margin-top: 3vw;
    line-height: 2vw;
}

span {
    background-color: var(--add);
    height: 0.8vw;
    width: 5vw;
    border-radius: 1vw;

    position: relative;
    margin-top: 1vw;
}

/* Menu Section */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: var(--bg-even);
    padding: 4vw 0;
}

.menu-heading{
    color: white;
    font-size: var(--medium);
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.food {
    width: 30vw;
    padding: 2vw;
    transition: 0.6s;
}

.food:hover{
    transform: scale(1.2);
}

.menu-img {
    height: 15vw;
    margin-top: 3vw;
}

.img-heading {
    margin: 1vw 0;
    color: white;
    font-size: var(--small);
}

.menu-discription {
    padding: 0 1vw;
    color: white;
    font-size: var(--small);
    line-height: 2vw;
}

/* Brand Section */
.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vw 0;
}

.brand-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.brand-img:hover {
    transform: scale(1.2);
}

.brand-img {
    width: calc(100%/5);
    padding: 1vw 2vw;
    transition: 0.6s;
    opacity: 50%;
}

.brand-heading {
    font-size: var(--medium);
}

/* Gallery Section */
.gallery {
    background: var(--bg-odd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5vw 0;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
    margin: 4vw 0;
}

.gallery-img {
    width: 20vw;
    height: 13vw;
    border-radius: 5px;
    transition: 0.6s;
}

.gallery-img:hover {
    transform: scale(1.1);
    z-index: 10;
}

.gallery-heading {
    color: white;
    font-size: var(--medium);
}

.gallery-img:hover {
    box-shadow: 0 0 2vw #c8914b;
    transition: 0.3s;
}

/* Contact Us Section */
.contact {
    background: var(--bg-even);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw 0;
}

.contact-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2vw 0;
}

.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-heading {
    color: white;
    font-size: var(--medium);
}

.contact-discription {
    color: white;
    font-size: var(--small);
    line-height: 3vw;
    transition: 0.6s;
}

.contact-discription:hover {
    transform: scale(1.1);
    color: var(--add);
}

.form {
    border-radius: 0.3vw;
    border: none;
    outline: none;
    padding: 1vw 2vw;
    color: gray;
    margin: 0.5vw 0;
    transition: 0.6s;
}

.form:hover {
    transform: scale(1.1);
}

.personal {
    height: 3vw;
    width: 40vw;
    transition: 0.6s;
    font-size: medium;
}

.textarea {
    width: 40vw;
    height: 6vw;
    transition: 0.6s;
    font-size: medium;
}

.personal, .textarea::placeholder {
    font-size: medium;
    color: gray;
}

.form-btn {
    height: 5vw;
    margin: 0.5vw 0;
    padding: 0 3vw;
    width: fit-content;
    border-radius: 3vw;
    outline: none;
    border: none;
    font-size: var(--small);
    font-weight: 700;
    background: var(--bg-odd);
    color: white;
    transition: 0.6s;
}

.form-btn:hover {
    background-color: var(--add);
    color: black;
    transform: scale(1.2);
}

/* Footer Section */
.footer {
    background: #9b7c39;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-even);
    font-size: var(--small);
}


::-webkit-scrollbar {
    background: var(--bg-even);
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: var(--add);
    border-radius: 1vw;
    visibility: hidden;
}

:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}